.white-box {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
